@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A9A9A9;
    &__link{
        font-weight: bold;
        color: #A9A9A9;
    }
}